- unless @title.nil?
  %h1= @title
%table
  %tr
    %td
      Licence:
    %td
      :plain
        #291850
  %tr
    %td
      Office:
    %td
      ( 650 ) 960 - 1750
      
  %tr
    %td
      Fax:
    %td
      ( 650 ) 960 - 1770
      
  %tr
    %td
      Email:
    %td
      %a{:href => "mailto:tom@thehastingscompany.com"}
        tom@thehastingscompany.com
  %tr
    %td
      Address:
    %td
      The Hastings Company<br />
      4496 El Camino Real #108<br />
      Los Altos, CA 94022