%div.background
%div.contacts
  %div.info 
    %p Hastings Fine Homes, Inc
    %p General Contractor
    %p Licence #973013
    %p info@hastingsfinehomes.com
  %div.addresses
    %div.address
      %p 63 Boved Road #404
      %p San Mateo, Ca 94402
      %p 650.350.1066
    %div.address
      %p 696 San Ramon Valley Blvd. #507
      %p Danville, Ca 94526
      %p 925.838.0108
  %div.contact
    %p Tom Hastings
    %p President
  