%article
  .grid_4
    = image_tag "http://www.thehastingscompany.com/index_files/image6491.jpg", :alt => "b&w", :width => '220'
    = image_tag "http://www.thehastingscompany.com/index_files/image6371.jpg", :alt => "b&w", :width => '220'
    
  .grid_8
    %p We at The Hastings Company have been specializing in custom home construction for more than 30 years.  We began as a small, family-based company and, as we’ve expanded, have maintained the personalized relationships with our clients that are so important to us.  It is our belief that quality construction on a reasonable budget will satisfy clients and will see us through good markets and bad.  Our Build-to-Suit and Speculative-Home clients appreciate our ability to work within their budgets and schedules to provide top-quality homes.  We have enjoyed working in the finest neighborhoods on the premier properties of Northern California.
    %p We look forward to helping you achieve your construction dreams.
    %p.right
      :plain
        -Tom Hastings<br />
        <strong>CGBP</strong>
  .clear