= render_flickr_slideshow
%article#blurbs
  .blurb
    %p The Hastings family has been specializing in custom home construction and remodeling for more than 40 years. We have enjoyed working in the finest neighborhoods on the premier properties of Northern California and our clients rely on us to build a top-quality home, on schedule, and within their budget.  
  .blurb
    %p Hastings Fine Homes brings generational integrity and an artistic eye to your doorstep. We organize and communicate the building process so that the work is smooth and logical. Architects and Designers recommend us because Hastings Fine Homes is skilled at working as part of a team. Our customers appreciate the value and quality evident on every job, while experiencing our special attention to providing excellent customer service.      
  .blurb
    %p Our priority is to enhance your status of "Great Neighbor" by maintaining a positive community sensitivity. If your project is a remodel, we strive for a minimum of invasiveness to you and your neighbors. All in all, we are trusting that your exceptional experience with Hastings Fine Homes will have you telling your friends and colleagues about us. 