- unless @title.nil?
  %h1= @title
%article
  %p
    "The construction process under their management was smooth and logical.  The end result of this process was a beautiful home that continues to be an endless source of compliments... I highly recommend The Hastings Company if quality, integrity, and timely completion are requirements for your next project.”

  %p.signature
    D.J. Rogers, Los Altos Hills, CA
    
  %br

%article
  %p
    "I’m writing to thank you for the outstanding work done by you and The Hastings Company in building my home… The project was completed timely and under budget, which is unheard of when I compare notes with others who have been involved in significant construction or remodel projects… Our business relationship never required you to “go the extra mile” the way you have, but it is apparent to me that your inclination to stand behind your product is the product of your commitment to do the right thing for your clients.  Thanks again for your outstanding work!

  %p.signature
    Stu Nichols, Los Altos, CA
  
  %br
    
%article
  %p
    "If you want high quality and an exceptional value, work with The Hastings Company, and, in particular, Tom Hastings.  He produces a high caliber product with an extremely artistic eye and he does it all with the highest level of customer service… I am so enthused about The Hastings Company, I plan to purchase my second home from them.”
  
  %p.signature
    M.S., Mountain View, CA 


