/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

header { margin: 40px 0 20px 0;}
footer { margin: 20px 0 40px 0; }
.right { text-align: right; }
#slideshow { height: 550px;
			 color: white;
	 		 background-image: url('http://farm4.static.flickr.com/3198/3146308832_5fdec3751b_o.jpg');
}