/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require normalize
 *= require 960
 *= require slides 
 *= require jquery.fancybox-1.3.4
 *= require_tree . 
*/

header { margin: 40px 0 20px 0;}
/*body { background-image:url(/assets/wood-bg.jpg);}*/
footer { margin: 20px 0 40px 0; }
.right { text-align: right; }
.slide { display: none; }

#content img {
	background: white;
	padding: 10px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

#gallery img {
	margin: 27px;
}

.img{
	float:left ;
	text-align: center;
}

/*.title { 
	position: relative;
	margin-left: 37px;
	width: 240px;
	top: -62px;
	z-index: 10;
	background: rgba(0,0,0,.6);
	padding: 2px 0;
	color:#eee;
}*/
.title,
.fancybox-gallery {
	display:none;
}
#project-photos { display: none;}

