nav {
	
	ol {
		display:inline;
		margin-left:0;
		padding-left:0;
		
		li {
			display:inline;
			margin-left:15px;
			padding-left:0px;
		}

		a {
			color: #000;
			text-decoration: none;

		}

		a:visited {
			color: #000;
			text-decoration: none;
		}

	}
}