// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "960";

header {
  position: relative;
  margin-bottom: 20px;
  nav {
    bottom: 0;
    right: 0;
    display: inline-block;
    position: absolute;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 40px;
  nav { 
    margin-left: auto;
    margin-right: auto;
    width: 52%;
  }
}
// #E1E1E1 -- #e0e2d5
body {
  background: #ebedde;

}

#content {
  img {
	  background: white;
  	padding: 10px;
  	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
}

.slide { display: none; }

#gallery img {
	margin: 27px;
}

a.fancybox { text-decoration: none; }

.img{
	float:left ;
	text-align: center;
}


.title,
.fancybox-gallery {
	display:none;
}

#project-photos { display: none; }

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container { @include grid(4); }
.content { @include grid(8); }
.signature { text-align: right; }

.blurb { @include grid(4); }

a { 
  display: inline-block;
  img { margin-bottom: -4px; }
}


.container { 
  @include container_12;
  background: white;
  padding: 20px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #CCC;
}


table td {
  padding: 10px 20px;
}

/*.title { 
	position: relative;
	margin-left: 37px;
	width: 240px;
	top: -62px;
	z-index: 10;
	background: rgba(0,0,0,.6);
	padding: 2px 0;
	color:#eee;
}*/



/*------------------------------------------*/


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}
