// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #ebedde;
  font-family: 'Quattrocento', serif;
  
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #content img {
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
  
  article { margin-left: 20px; margin-right: 20px; }
}

header {
  position: relative;
//  margin-bottom: 20px;
  #logo {
    text-decoration: none;
    span {
      vertical-align: middle;
      display: inline-block;
      font-size: 350%;
      line-height: 1em;
      margin: .25em;
      color: black;
    }
  }
  #contact-top {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
  }
  nav {
    bottom: 0;
    right: 0;
    display: inline-block;
    position: absolute;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 40px;
  nav { 
    margin-left: auto;
    margin-right: auto;
    width: 52%;
  }
}

body>.container { 
  text-align:left;
  background: white;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

// home

.slide { display: none; }

#blurbs { margin: 0; }
.blurb {
  width: 297px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}

// projects

#gallery {
  a { 
    display: inline-block;
    text-decoration: none
    }
  img {
      margin: 27px;
//      margin-bottom: -4px;
  }
  .project-photos { display: none; }
  .title, .fancybox-gallery {	display:none; }
}

// history

.sidebar { 
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
.history {
  width: 570px;
  vertical-align: top;
  display: inline-block;
}
.signature { text-align: right; }

// contact

.contacts {
  div {
    clear: both;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  	background: white;
  }
  .info {
    width: 250px;
    margin: auto;
  	padding: 10px;
  	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
  .addresses {
    display:block;
    width: 100%;
  }
  .address {
    width: 250px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
  	padding: 10px;
  	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
  .contact {
    width: 250px;
    margin: auto;
  	padding: 10px;
  	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}


/*------------------------------------------*/
//      utilitys

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

