

/*
	Slideshow
*/

#slides {
  display: none;
}

#slides {
  overflow: hidden;
  width:940px;
  height: 570px;
	background: white;
	padding: 10px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
#slides a {
  position: relative !important;
}

#slides img {
  width: 940px;
  height: 550px;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

#slides .description {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

/*.slides_container a img {
  display:block;
  width: 940px;
  height: 550px;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}*/


/*
	Pagination
*/

.slidesjs-pagination {
	margin:10px auto 0;
	width:120px;
}

.slidesjs-pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.slidesjs-pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/assets/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.slidesjs-pagination li a.active {
	background-position:0 -12px;
}
