- photos.each do |photo|
  %a{ :class => "fancybox", :id => "project-photos", :href => FlickRaw.url_m( photo ), :rel => flickr.photos.getInfo( :photo_id => photo.id ).tags.first.to_s }
    = image_tag FlickRaw.url_m( photo )