#gallery
  - photos.each do |photo|
    %a{ :class => "fancybox", :rel => photo.title, :href => FlickRaw.url_b( photo ) }
      = image_tag FlickRaw.url_b( photo ), :width => 240, :height => 240
      = render_flickr_fancybox(photo.title)
