%ol
  %a(href="/")
    %li Home
  %a(href="/projects")
    %li Projects
  %a(href="/testimonials")
    %li Testimonials
  %a(href="/history")
    %li History
  %a(href="/contact")
    %li Contact
  %a(href="/partners")
    %li Resources